html{
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;

}

html {
  background-color: white;
  line-height: 1.5;
}

.left {
  float: left;
  width: 16%;
}

.right {
  float: right;
  width: 16%;
}

img {
  width: 100%;
}

header {
  background-color: #D75E26;
  color: white;
  clear: both;
  padding-top: .5em;
  padding-bottom: .25em;
}

h1 {
  text-align: center;
  line-height: 1em;
  font-size: 2em;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  line-height: 1em;
  font-size: 2em;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: .5em;
}

nav {
  background-color: #D75E26;
  margin: 0em;
}

nav ol {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  list-style-type: none;
  overflow: hidden;
}

.nav {
  float: left;
  width: 33.3333333333333%;
}

nav a {
  padding: .5em  .5em .5em;
  background-color: #D75E26;
  color: white;
  text-decoration: none;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  display: block;
  text-align: center;

}

main {
  margin: 1em;
  font-family: 'Merriweather', serif;
  font-size: .75em;

}

.p2 {
  margin-bottom: 15px;
}

.grains {
  float: left;
  width: 45%;
  margin-right: 0.5em;
  border: 1px solid #333
}

.right2 {
  float: right;
  width: 55%;
  margin-bottom: 1em;
  border: 1px solid #333;
}
.cereals {
  float: left;
}

.famous-cereal {
  background-color: #D8855F;
  clear: both;
  overflow: hidden;
  color: white;

}

.rice{
  margin: 0;
  float: left;
  width: 50%;
  margin-bottom: 2em;
}

.corn{
  margin: 0;
  margin-bottom: 2em;
}

.oats{
  margin: 0;
  float: right;
  width: 50%;
  margin-bottom: 2em;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.beans {
  width:25%;
  margin-bottom: 1em;
  float: left;
  clear: both;
  border: 1px solid #333;
  margin-right: .5em;
}

.b-text {
  float: left;
  display: inline-block;
  margin-top: 1em;
}

.lentils {
  width: 25%;
  float: left;
  clear: both;
  margin-bottom: 1em;
  margin-right: .5em;
  border: 1px solid #333;
}

.l-text {
  float: left;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 2em;
}

.peanuts {
  width: 25%;
  margin-bottom: 1em;
  float: left;
  clear: both;
  border: 1px solid #333;
  margin-right: .5em;
}

.p-text {
  float: left;
  display: inline-block;
  margin-top: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0em;
  margin: 0;
}

em {
  font-weight: bold;
}

footer {
  clear: both;
  background-color: #D75E26;
  text-align: center;
  font-size: .75em;
  padding: 2em;
  margin-top: 2em;
  color: #FFD8D8;
}
